.menu-container{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
}

.btn-close{
    margin: 2rem 0 2rem 80%;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.btn-close:hover{
    transform: scale(1.1);
}
.menu-container-content {
    width: 60%;
    background-color: var(--off-white);
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (width >= 860px) {
    .menu-container{
       /* height: auto;
        width: 26rem;*/
        /*background-color: transparent;*/
    }

    .menu-container-content{
       /* background-color: transparent;*/
    }

    .btn-close{
        display: none;
    }
}