.main-container{
    width: 100%;
    height: 100%;
}

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 3; /*just make sure it stay on top*/
    display: none;
}

.menu-btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.menu-btn:hover{
    transform: scale(1.1);
}

.anchor{
    display: block;
    text-decoration: none;
}

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.image{
    max-inline-size: 100%;
    block-size: auto;
    margin: 0;
}

.image-web{
}

.trending-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.article-trending{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.trending-img{
    height: 6rem;
}
/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/