:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

@font-face {
    font-family: Inter;
    src: url('./assets/fonts/Inter-VariableFont_slnt,wght.ttf');
    font-weight: 400 800;
}

.container{
    font-family: Inter;
    font-weight: 400;
    color: var(--dark-grayish-blue);
}

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.navigation{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 3; /*just make sure it stay on top*/
    display: none;
}

.menu-btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.menu-btn:hover{
    transform: scale(1.1);
}

a{
    display: block;
    text-decoration: none;
}

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.main-content{
    display: flex;
    flex-direction:column;
    gap: 1rem;
}

.main-content h1{
    color: var(--very-dark-blue);
    font-weight: 800;
    font-size: 3rem;
}

.read-more-btn{
    background-color: var(--soft-red);
    color: var(--very-dark-blue);
    font-family: Inter;
    font-weight: 700;
    letter-spacing: 0.2rem;
    width: 50%;
    height: 3rem;
}

.image{
    max-inline-size: 100%;
    block-size: auto;
    margin: 0;
}

.image-web{
}

.new-content{
    padding: 2rem;
    background-color: var(--very-dark-blue);
}

.new-content h2{
    color: var(--soft-orange);
}

.new-content p{
    color: var(--grayish-blue);
}

.new-content a{
    color: var(--off-white);
    font-weight: 700;
    font-size: 1.2rem;
    margin: 2rem 0 0.5rem 0;
}

.new-content p{
    border-bottom: 0.1rem solid var(--dark-grayish-blue);
    padding-bottom: 2rem;
}

.new-content p:last-child{
    border: 0;
    padding-bottom: 0;
}

.trending-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.trending-article{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.trending-article div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 6rem;
}

.trending-article div h3{
    color: var(--soft-red);
    font-size: 1.5rem;
    font-weight: 800;
}

.trending-article div a{
    color: var(--very-dark-blue);
    font-size: 1rem;
    font-weight: 800;
}

.trending-img{
    height: 6rem;
}

@media screen and (width >= 53rem) {
    .content-container{
        display: grid;
        grid-template-areas:
            'main-content main-content new-content'
            'main-content main-content new-content'
            'trending-content trending-content trending-content';
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
    }

    .main-content{
        grid-area: main-content;
        display: grid;
        grid-template-areas:
            'main-img main-img'
            'main-header main-description'
            'main-header main-button';
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
    }

    .main-content picture{
        grid-area: main-img;
    }
    .main-content h1{
        grid-area: main-header;
    }
    .main-content p{
        grid-area: main-description;
    }
    .main-content button{
        grid-area: main-button;
    }

    .new-content{
        grid-area: new-content;
    }
    .trending-content{
        grid-area: trending-content;
        flex-direction: row;
        gap: 2rem;
    }

    body{
        padding: clamp(3rem, 2.8rem + 5vw, 10rem);
        padding-top: 2rem;
    }
}

/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/