.container{
    font-family: Inter;
    font-weight: 400;
    color: var(--dark-grayish-blue);
    max-width: 650px;
}

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.menu-btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.menu-btn:hover{
    transform: scale(1.1);
}

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.main-content{
    display: flex;
    flex-direction:column;
    gap: 1rem;
}

.main-content h1{
    color: var(--very-dark-blue);
    font-weight: 800;
    font-size: 3rem;
}

.read-more-btn{
    background-color: var(--soft-red);
    color: var(--very-dark-blue);
    font-family: Inter;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 0.2rem;
    width: 50%;
    height: 3rem;
}

.read-more-btn:hover{
    background-color: var(--very-dark-blue);
    color: var(--off-white);
}
picture{
    width: 100%;
}
.image{
    max-inline-size: 100%;
    block-size: auto;
    margin: 0;
}

.image-web{
}

.new-content{
    padding: 2rem;
    background-color: var(--very-dark-blue);
}

.new-content h2{
    color: var(--soft-orange);
}

.new-content p{
    color: var(--grayish-blue);
}

.anchor.title-new{
    color: var(--off-white);
    font-weight: 700;
    font-size: 1.2rem;
    margin: 2rem 0 0.5rem 0;
}

.anchor.title-new:hover{
    color: var(--soft-orange);
}

.new-content p{
    border-bottom: 0.1rem solid var(--dark-grayish-blue);
    padding-bottom: 2rem;
}

.new-content p:last-child{
    border: 0;
    padding-bottom: 0;
}

.trending-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.trending-article{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.trending-article div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 6rem;
}

.trending-article div h3{
    color: var(--soft-red);
    font-size: 1.5rem;
    font-weight: 800;
}

.anchor.trending{
    color: var(--very-dark-blue);
    font-size: 1rem;
    font-weight: 800;
}

.anchor.trending:hover{
    color: var(--soft-red);
}
.anchor.trending:active{

}
.trending-img{
    height: 6rem;
}

@media screen and (width >= 860px) {
    .container{
        max-width: 86rem;
    }
    .content-container{
        display: grid;
        grid-template-areas:
            'main-content main-content new-content'
            'main-content main-content new-content'
            'trending-content trending-content trending-content';
        grid-template-columns: 1fr, 1fr, 100px;
        grid-auto-rows: auto;
    }

    .main-content{
        grid-area: main-content;
        display: grid;
        grid-template-areas:
            'main-img main-img'
            'main-header main-description'
            'main-header main-button';
        grid-template-columns: 1fr, 1fr, 20rem;
        grid-auto-rows: auto;
    }

    .main-content picture{
        grid-area: main-img;
    }
    .main-content h1{
        grid-area: main-header;
    }
    .main-content p{
        grid-area: main-description;
    }
    .main-content button{
        grid-area: main-button;
    }

    .new-content{
        grid-area: new-content;
        width: 20rem;
        height: 100%;
        place-content: center;
    }

    .trending-content{
        margin-top: 2rem;
        grid-area: trending-content;
        flex-direction: row;
        gap: 2rem;
    }

    body{
        padding: clamp(3rem, 2.8rem + 5vw, 10rem);
        padding-top: 2rem;
    }
}

/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

/*.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/