:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

html {
    font-size: 16px;
    height: 100%
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 2rem;
}

a{
    display: block;
    text-decoration: none;
}

@font-face {
    font-family: Inter;
    src: url('./assets/fonts/Inter-VariableFont_slnt,wght.ttf');
    font-weight: 400 800;
}

@media (prefers-reduced-motion: no-preference) {
  a, button {
    transition: all 0.3s ease-out;
  }
}